/*--------------------------------------------------------------
## Contact Form
--------------------------------------------------------------*/
.site-content .contact-form {
	> div {
		margin-bottom: 1.5em;
	}
	label {
		font-weight: normal;
	}
	input {
		&[type="text"], &[type="email"], &[type="url"] {
			width: 100%;
			max-width: 100%;
		}
	}
	textarea {
		width: 100%;
		max-width: 100%;
	}
	label span {
		color: inherit;
	}
}