/*--------------------------------------------------------------
## Responsive Videos
--------------------------------------------------------------*/
.jetpack-video-wrapper {
	margin: 0 0 1.5em;
	&:empty {
		display: none;
	}
	video {
		margin-bottom: 0;
	}
}