/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.site .jetpack-social-navigation {
	ul {
		font-size: 16px;
		font-size: 1rem;
		margin: 0 0 0.75em;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	li {
		display: block;
		margin: 0 0.25em;
		text-align: center;
		float: left;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		border: 1px solid #f3f3f3;
		border-radius: 50%;
		color: #7a7c84;
		display: block;
		font-size: 16px;
		font-size: 1rem;
		height: 2em;
		position: relative;
		width: 2em;
		&:before {
			left: 50%;
			margin-left: -0.5em;
			margin-top: -0.5em;
			position: absolute;
			top: 50%;
		}
		&:hover, &:focus {
			background: #f3f3f3;
			color: $color-primary;
		}
	}
}