/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.site-content-wrapper .widget-area {
	border-top: 1.5em solid #2c313f;
	padding: 1.5em 1.5em 0;
	width: 100%;
}

.widget-footer-area {
	padding-top: 1.5em;
}

.widget-footer-top-area {
	background: $color-primary;
}

.widget-footer-bottom-area {
	border-top: 1px solid #f3f3f3;
}

.widget-footer-top-area + .widget-footer-bottom-area {
	border-top: 0;
}